	<style type="text/css">
li {color:red;}
a {color:red; text-decoration: line;text-shadow:  3px 3px 6px red ; font-size: 20px;}
.slider {
  background-color: transparent;
  margin: auto;
  height: 40px;
  width: 50%;
   }
 .slider ul li {
   height: 150px;
  width: 500px;
 }

.slider ul li img {
  height: 90%;
  width: 70%;
  margin: auto;
  }
	.article {color:red; font-size: 20px; margin: auto;position: relative;}
  h3 {color:darkslategray; background-color: bisque; font-size: 20px;text-align: center; margin: auto;height:20px;  width: 80px}
  p{ font-size: 14px;text-align: justify right; font-weight: black; padding: 8px; background: bisque; border-bottom: 2px solid black;
color: darkslategray; border-top: 3px solid black;margin: auto;  height:20px;  width: 220px;
}

caption { font-family: "arial";
font-size: 20px; color: darkslategray; background: bisque;
text-align: center; border-collapse: black; margin: 1px; position: relative;
}
table { font-family: "Lucida Sans Unicode";
font-size: 18px; margin: auto; width: 480px;
text-align: left; border-collapse: black;
}

th { font-size: 14px; font-weight: black; padding: 8px; background: bisque;
border-top: 6px solid black; border-bottom: 1px solid black;
color: darkslategray;
}
td { font-size: 14px;text-align: justify; font-weight: black; padding: 8px; background: bisque; border-bottom: 2px solid black;
color: darkslategray; border-top: 3px solid black;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
   position:absolute;
   left:0px;
   bottom:0px;
   height:30px;
   width:50%;
  }

.social {
  text-align: left;
	position: relative;
	display: block;
}
.social li {
  display: inline;
}

.social i {
  font-size: 80%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #f5f5f5;
}

 .second-footer {
   background-color: transparent;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   color: white;
}
</style>
