body{
background-color:lightgreen;
color: white;
text-align: center;
font-style: italic;
font-size: 23px;
padding:50px
}
h1{
color: red;
font-size: 32px;
font-family: verdana;
background-color:bisque;
width: 450px;
height: 40px;
margin: 2rem auto;
}
p{
	color: black;
font-size: 26px;
font-family: arial;
background-color:bisque;
width: 450px;
height: 130px;
margin: 2rem auto;
border-width: 6px;
border-style: solid;
border-color: black red blue yellow;
}

h3{
color: white;
font-size: 32px;
font-family: verdana;
background-color:bisque;
width: 450px;
height: 40px;
margin: 2rem auto;
}
ol{
	color: white;
font-size: 26px;
font-family: arial;
background-color:bisque;
width: 450px;
height: 180px;
margin: 2rem auto;
border-width: 6px;
border-style: solid;
border-color: black red blue yellow;
}