	<style type="text/css">
li {color:red;}
a {color:red; text-decoration: line;text-shadow:  3px 3px 6px red ; font-size: 20px;}
.slider {
  background-color: transparent;
  margin: auto;
  height: 40px;
  width: 50%;
   }
 .slider ul li {
   height: 150px;
  width: 500px;
 }

.slider ul li img {
  height: 90%;
  width: 70%;
  margin: auto;
  }
  h3 {color:red; font-size: 20px;}
  p{ font-size: 14px;text-align: justify; font-weight: black; padding: 8px; background: bisque; border-bottom: 2px solid black;
color: darkslategray; border-top: 3px solid black;margin: auto;  height:60px;  width: 200px;
}

caption{ font-family: "Lucida Sans Unicode";
font-size: 20px; color: darkslategray; background: bisque;
text-align: center; border-collapse: black;

}
table { font-family: "Lucida Sans Unicode"; 
font-size: 18px; margin: 45px; width: 480px;
text-align: left; border-collapse: black;
}

th { font-size: 14px; font-weight: black; padding: 8px; background: bisque;
border-top: 6px solid black; border-bottom: 1px solid black;
color: darkslategray;
}
td { font-size: 14px;text-align: justify; font-weight: black; padding: 8px; background: bisque; border-bottom: 2px solid black;
color: darkslategray; border-top: 3px solid black;
}


</style>